@charset "UTF-8";
/* MAPS */
/* Extends */
.subtitulo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.pieDePagina {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-end; }

.puesto, .puestoTitulo, .formularioBotones {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center; }

.boton {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.referencias, .trabajos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

.formacion, .formacionAcademica, .idiomas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center; }

.central, .formularioRecomendaciones, .formularioContacto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

* {
  margin: 0%;
  padding: 0%; }

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #cfcdcd;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden; }

.encabezado {
  grid-area: encabezado; }

/* Barra de opciones */
.barra {
  background-color: grey;
  grid-area: barra; }
  .barra li a {
    font-size: 3vh;
    text-decoration: none;
    transition: transform 2s;
    color: white; }
  .barrahover {
    transform: scale(2.2);
    z-index: 5; }

/* Nombre de la persona a la que pertenece la página */
.nombre {
  color: deeppink;
  font-family: "IBM Plex Serif", serif;
  font-size: 4vw;
  margin-bottom: 1vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  grid-area: nombre; }
  .nombrehover {
    animation: nombreEnColores 3s infinite; }

@keyframes nombreEnColores {
  0% {
    color: deeppink; }
  25% {
    color: blue; }
  50% {
    color: aqua; }
  100% {
    color: magenta; } }

.subtitulo {
  font-family: "IBM Plex Serif", serif;
  font-size: 3vw;
  background: #968293;
  background: linear-gradient(90deg, #968293 42%, #f125d1 99%);
  color: blue;
  justify-content: center;
  grid-area: subtitulo; }

/* Footer */
.pieDePagina {
  background-color: grey;
  height: 3vw;
  width: 100vw;
  align-self: flex-end;
  grid-area: pieDePagina; }
  .pieDePagina ul li a:hover {
    color: white;
    transition: transform 2s; }
  .pieDePagina li:hover {
    transform: scale(2.2);
    z-index: 5; }

.linkedin {
  color: #0e76a8;
  margin-right: 1vw; }

.github {
  color: #171515;
  margin-right: 1vw; }

.telegram {
  color: #0088cc; }

/* Inicio Body INDEX */
.inicio {
  display: grid;
  grid-template-areas: "encabezado" "fotoCentral" "fotoCentral" "fotoCentral" "descripcion" "descripcion" "invitacion" "pieDePagina"; }

.inicio {
  background-image: url("/img/fondo2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 90%; }

/* Fin Body Index */
/* INDEX */
/* Index - Foto de la propietaria de la página */
.fotoJuli {
  margin-bottom: 1vw;
  grid-area: fotoCentral; }

/* Index - Foto de la propioetaria de la página */
.description {
  color: pink;
  font-size: 3vw;
  text-align: center;
  grid-area: descripcion; }

/* Index - Invitacion de la propioetaria de la página */
.invitacion {
  color: blue;
  font-size: 3vw;
  grid-area: invitacion; }

/* FIN INDEX */
/* Inicio Body Formacion */
/* Celular */
.bodyFormacion {
  display: grid;
  grid-template-areas: "encabezado" "formacionAcademica" "formacionAdicional" "idiomas" "pieDePagina"; }

/* COMPUTADORA y TABLET  */
@media only screen and (min-width: 768px) {
  .bodyFormacion {
    display: grid;
    grid-template-areas: "barra" "nombre" "subtitulo" "formacionAcademica" "formacionAdicional" "idiomas" "pieDePagina"; } }

/* Fin Body Formacion */
/* FORMACION */
.formacion {
  align-items: center; }

.formacionAcademica {
  margin-top: 3vw;
  grid-area: formacionAcademica; }

.idiomas {
  margin-top: 3vw;
  grid-area: idiomas; }

/* PC Y Tablet */
@media only screen and (min-width: 768px) {
  .formacion {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .formacionAcademica {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
    grid-area: formacionAcademica; }
  .otrosFormacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .formacionAdicional {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    margin-right: 4vw;
    grid-area: formacionAdicional; }
  .idiomas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: right;
    margin-left: 4vw;
    grid-area: idiomas; }
  .tipoFormacion {
    color: blue;
    font-size: 5vh; }
  .titulo {
    font-size: 5vh; }
  .institucion {
    font-size: 4vh; }
  .descripcion {
    font-size: 3vh; } }

/* FIN FORMACION */
/* Inicio Body Recomendaciones */
/* Celular */
.bodyRecomendacion {
  display: grid;
  grid-template-areas: "encabezado" "formularioRec" "referencias" "pieDePagina"; }

/* RECOMENDACIONES */
.formularioRecomendaciones {
  grid-area: formularioRec; }

.referencias {
  align-items: center;
  margin-left: 2vh;
  margin-right: 2vh;
  grid-area: referencias; }

/* COMPUTADORA y TABLET  */
@media only screen and (min-width: 768px) {
  .formularioRecomendaciones {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: formularioRec; }
  .referencias {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    grid-area: referencias; }
    .referencias .nombreRef {
      font-size: 4vh; }
    .referencias .detalleRef {
      font-size: 3vh; }
  .divReferencia {
    margin-top: 3vh;
    margin-bottom: 2vh; } }

/* FIN RECOMENDACIONES */
/* Inicio Body Sobre Mi */
/* Celular */
.sobreMiBody {
  display: grid;
  grid-template-areas: "encabezado" "sobreMiFoto" "presentacionDescripcion" "sobreMiFotoFlia" "sobreMiFotoEmma" "sobreMiFotoPerris" "conocemeMas" "pieDePagina"; }

/* COMPUTADORA y TABLET  */
@media only screen and (min-width: 768px) {
  .sobreMiBody {
    display: grid;
    grid-template-areas: "barra " "nombre nombre nombre" "subtitulo subtitulo subtitulo" "sobreMiFoto presentacionDescripcion" "sobreMiFotoFlia sobreMiFotoEmma sobreMifotoPerris" "conocemeMas conocemeMas conocemeMas" "pieDePagina pieDePagina pieDePagina"; } }

/* Fin Body Sobre Mi */
/* SOBRE MI */
/* PC Y Tablet */
@media only screen and (min-width: 768px) {
  .presentacion {
    margin-bottom: 4vw; }
  .sobreMiFoto {
    transition: transform 3s, box-shadow 10s; }
    .sobreMiFoto:hover {
      transform: scale(2.2);
      z-index: 100; }
  .sobreMiFotoFlia {
    transition: transform 3s; }
    .sobreMiFotoFlia:hover {
      transform: scale(2.2);
      z-index: 100; }
  .sobreMiFotoEmma {
    transition: transform 3s; }
    .sobreMiFotoEmma:hover {
      transform: scale(2.2);
      z-index: 100; }
  .sobreMiFotoPerris {
    transition: transform 3s; }
    .sobreMiFotoPerris:hover {
      transform: scale(2.2);
      z-index: 100; } }

/* FIN SOBRE MI */
/* TRABAJOS */
/* .trabajo {
  display: grid;
  grid-template-areas: 
  "encabezado encabezado encabezado"
  "subtituloExperiencia subtituloExperiencia subtituloExperiencia"
  "nombrePuesto periodo detallePuesto"
  "subtituloExperiencia subtituloExperiencia subtituloExperiencia"
  "puestoTitulo nombreRol periodoVol"
  "pieDePagina pieDePagina pieDePagina"
  ;
} */
.experiencialaboral .voluntariado {
  display: flex;
  flex-direction: column; }

.subtituloExperiencia {
  background-color: #a19f9f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-area: subtituloExperiencia; }

.puesto {
  margin: 1vw;
  padding: 1vw;
  justify-content: flex-start; }

.puestoTitulo {
  font-size: 4vh;
  width: 70%;
  justify-content: space-around; }
  .puestoTitulo .nombrePuesto {
    font-size: 4vh;
    width: 55%;
    grid-area: nombrePuesto; }
  .puestoTitulo .periodo {
    font-size: 3vh;
    width: 40%;
    grid-area: periodo; }

.detallePuesto {
  font-size: 3vh;
  width: 30%;
  grid-area: detallePuesto; }

/* FIN TRABAJOS */
/* Body CONTACTO*/
.contacto {
  display: grid;
  grid-template-areas: "encabezado" "formularioContacto" "pieDePagina"; }

/* FORMULARIO DE CONTACTO*/
.formularioContacto {
  size: 40%;
  grid-area: formularioContacto; }

.formularioCompletar {
  height: 3vw;
  width: 30vw; }

.formularioMensaje {
  font-family: "Roboto Condensed", sans-serif;
  height: 10vw;
  width: 40vw; }

.boton {
  height: 2vw;
  width: 10vw; }

#borrar {
  background-color: red; }

#enviar {
  background-color: #1fd81f; }

/* FIN CONTACTO */
