/* Body CONTACTO*/
.contacto {
    display: grid;
    grid-template-areas:
      "encabezado"
      "formularioContacto"
      "pieDePagina";
  }

  /* FORMULARIO DE CONTACTO*/
.formularioContacto {
    size: 40%;
    @extend %flexColumCenterCenter;
    grid-area: formularioContacto;
  }
  
  .formularioCompletar {
    height: 3vw;
    width: 30vw;
  }
  
  .formularioMensaje {
    font-family: "Roboto Condensed", sans-serif;
    height: 10vw;
    width: 40vw;
  }
  
  .formularioBotones {
    @extend %flexFormBotones;
  }
  
  .boton {
    height: 2vw;
    width: 10vw;
    @extend %flexFormBoton;
  }
  
  #borrar {
    background-color: map-get($colores , bgBotonBorrar);
  }
  
  #enviar {
    background-color: map-get($colores, bgBotonEnviar);
  }
  /* FIN CONTACTO */