* {
    margin: 0%;
    padding: 0%;    
  }
  
  body {
    font-family: "Roboto Condensed", sans-serif;
    background-color: map-get($colores, colorFondo);
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
  }

  .encabezado{
    grid-area: encabezado;
  }