@import "./navbar";
@import "./footer";

* {
    margin: 0%;
    padding: 0%;
  }
  
  body {
    font-family: map-get($tipografias , tipogrGrl );
    background-color: map-get($colores, colorFondo);
    width: 100vw;
    min-height: 100vh;
       
  }