/* Inicio Body INDEX */
.inicio {
    display: grid;
    grid-template-areas:
      "barra"
      "nombre"
      "nombre"
      "fotoCentral"
      "fotoCentral"
      "fotoCentral"
      "descripcion"
      "descripcion"
      "invitacion"
      "pieDePagina";
  }
  
  .inicio {
    background-image: url("/img/fondo2.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90%;
  }
  /* Fin Body Index */

  /* INDEX */
.central {
    @extend flexFormulario;
  }
  
  /* Index - Foto de la propietaria de la página */
  .fotoJuli {
    margin-bottom: 1vw;
    grid-area: fotoCentral;
  }
  
  /* Index - Foto de la propioetaria de la página */
  .description {
    color: map-get($colores , colorDescription);
    font-size: 3vw;
    text-align: center;
    grid-area: descripcion;
  }
  
  /* Index - Invitacion de la propioetaria de la página */
  .invitacion {
    color: map-get($colores, colorInvitacion );
    font-size: 3vw;
    grid-area: invitacion;
  }
  /* FIN INDEX */