/* Barra de opciones */
.barra {
    background-color: $colorNav;
    grid-area: barra; 

    li a {
      text-decoration: none;
      transition: transform 2s;
      color: white;
    }

    &hover {
      transform: scale(2.2);
      z-index: 5;
    }

  }
      
  /* Nombre de la persona a la que pertenece la página */
  .nombre {
    color: $colorNombre;
    font-family: "IBM Plex Serif", serif;
    font-size: 4vw;
    margin-bottom: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    grid-area: nombre;

    &hover {
      animation: nombreEnColores 3s infinite;
    }
  }
  
  
  @keyframes nombreEnColores {
    0% {
      color: deeppink;
    }
    25% {
      color: blue;
    }
    50% {
      color: aqua;
    }
    100% {
      color: magenta;
    }
  }
  
  .subtitulo {
    background: rgb(150, 130, 147);
    background: linear-gradient(  
      90deg,
      rgba(150, 130, 147, 1) 42%,
      rgba(241, 37, 209, 1) 99% 
    );
    color: blue;
    font-family: "IBM Plex Serif", serif;
    font-size: 3vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    grid-area: subtitulo;
  }
  