/* Inicio Body Recomendaciones */
/* Celular */
.bodyRecomendacion {
  display: grid;
  grid-template-areas:
    "encabezado"
    "formularioRec"
    "referencias"
    "pieDePagina";
}

/* RECOMENDACIONES */
.formularioRecomendaciones {
  @extend %flexColumCenterCenter;
  grid-area: formularioRec;
}

.referencias {
  @extend %flexColum;
  align-items:center;
  margin-left: 2vh;
  margin-right: 2vh;
  grid-area: referencias;
}

/* COMPUTADORA y TABLET  */
@include mediaQueryTabletPc {
  .formularioRecomendaciones {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: formularioRec;
  }

  .referencias {
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;    
    grid-area: referencias;

    .nombreRef{
      font-size: 4vh;
    }

    .detalleRef{
      font-size: 3vh;
    }
  }
  .divReferencia{
    margin-top: 3vh;
    margin-bottom: 2vh;
  }
}
/* FIN RECOMENDACIONES */
