/* Inicio Body Recomendaciones */
/* Celular */
.bodyRecomendacion {
    display: grid;
    grid-template-areas:
      "barra"
      "nombre"
      "subtitulo"
      "formulario"
      "referencias"
      "pieDePagina";
  }
  
  /* COMPUTADORA y TABLET  */
  @include mediaQueryTabletPc {
    .bodyRecomendacion {
      display: grid;
      grid-template-areas:
        "barra"
        "nombre"
        "subtitulo"
        "formulario"
        "referencias"
        "pieDePagina";
    }
  }
  /* Fin Body Recomendaciones */

  /* RECOMENDACIONES */
.formulario {
  @extend flexColumCenter;
  grid-area: formulario;
}

.referencias {
  @extend flexColum;
  align-items: center;
  grid-area: referencias;
}

/* COMPUTADORA y TABLET  */
@include mediaQueryTabletPc {
  .formulario {
    @extend flexFormulario;
    grid-area: formulario;
  }

  .referencias {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    grid-area: referencias;
  }
}
/* FIN RECOMENDACIONES */