/* TRABAJOS */
.trabajos {
    @extend flexColum;
  }
  
  .subtituloExperiencia {
    margin: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .experiencialaboral .voluntariado {
    display: flex;
    flex-direction: column;
  }
  
  .puesto {
    margin: 1vw;
    padding: 1vw;
    @extend flexFormBotones;
    justify-content: flex-start;    
  }
  
  .puestoTitulo {
    margin: 1vw;
    padding: 1vw;
    @extend flexFormBotones;
    justify-content: space-around;
  }
  
  .nombreRol {
    margin: 1vw;
    padding: 1vw;
  }
  /* FIN TRABAJOS */