/* MAPS */
$colores:(
  colorFondo: rgb(207, 205, 205),
  colorNav: grey,
  colorNombre: deeppink,
  colorPalabrasNav: white,
  colorSubtitulo: blue,
  colorDescription: pink,
  colorInvitacion: blue,
  colorHoverFoot: white,
  logoLinkedin: #0e76a8,
  logoGithub: #171515,
  logoTelegram: #0088cc,
  bgBotonBorrar: red,
  bgBotonEnviar: rgb(31, 216, 31),
  );

/* Extends */
%flexRowGrl{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
};

%flexFooter{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-end;
};

%flexFormBotones{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
};

%flexFormBoton{
  display: flex;
  justify-content: space-around;
  align-items: center;
};

%flexColum{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
};

%flexColumCenter{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
};

%flexColumCenterCenter{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
};

@mixin mediaQueryTabletPc {
  @media only screen and (min-width: 768px){
    @content;
  }
}